*{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-family: Helvetica, Arial, serif; 
    /* margin: 2em; */
    font-size: 150%;
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    font-family: Lora, Georgia, serif;
}
p{
    margin-bottom: 1em;
}
li{
    margin-bottom: 0.8em;
}

/* header section */
header{
    background-color: #0e5d67;
    color: white;
    padding: 1em 2em;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
}
header ul li{
    display: inline-block;
    padding: 0 1em;
}
header a{
    text-decoration-color: white;
    color: white;
    text-underline-offset:8px;
    text-decoration-color: #82d7d9;
}
/* hero */
.hero{
    background-color: #0e5d67;
    color: white;
    border-top: 0.5px solid #82d7d9;
    padding: 5em 2em;
}


/* main section */

section{
    padding: 2em 0;
}
.section-title{
    text-align: center;
    padding: 1em 0 1.5em 0;
}
.row{
    display: flex;
    flex-wrap: no-wrap;
    width: 80%;
    margin: auto;
}
.rowItem{
    padding: 1em;
    width: 50%;
}

/* About Me */
.who{
    background-color: aliceblue;
}
